@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #0b0d17;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 24px;

  p {
    color: #ffffff;
    opacity: 50%;
    line-height: 13.2px;
    font-size: 12px;
  }
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;

  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s ease;

    &:hover {
      color: #60cdf6;
      text-decoration: underline;
    }
  }

  button {
    width: 70px;
    height: 30px;
    color: #fff;
    background-color: #23252e;
    border: 1px solid #31333d;
    border-radius: 15px;
    cursor: pointer;

    &:hover {
      background-color: #60cdf6;
      color: #0b0d17;
    }
  }

  div {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
}

main {
    background: linear-gradient(99.59deg, #0C0E1A -0.95%, #0D0F1B 115.07%);
    height: 791px;
}

.sun {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_text {
    height: 130px;
    border-right: 2px solid white;
}

.hero {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 770px;
    height: 321px;
    background: linear-gradient(99.59deg, #0C0E1A -0.95%, #0D0F1B 115.07%);
    box-shadow: -2px -1px 17px 9px rgba(255,255,255,0.05);
}

.hero_box_text {
    h1 {
        text-transform: uppercase;
        font-size: 22px;
        color: white;
    }

    h2 {
        font-size: 22px;
        font-weight: 300;
        color: white;
        text-transform: uppercase;
    }

    h3 {
        font-size: 16px;
        font-weight: 400;
        color: #60cdf6;
    }
}

.hero_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
        font-size: 16px;
        color: white;
        font-weight: 400;
    }
}

.img_box {
    width: 714px;
    height: 219px;
    padding-bottom: 30px;
}

footer {
    height: 60px;
    background-color: #0B0D17;
}